<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">$./usr/bin/whoami<span id="js-rotating">></span>Gmichet</h4>
  </div>
  <div class="user-content">
    <p>
     Sitio en donde llevo una tipo guia de mis notas, y los temas que me llaman la atención.
    </p>
    <p>
      Solo aprendo lo que puedo y lo que quiero.
    </p>
  </div>
</div>
