/* Paleta de colores oscuros*/
body {
    background-color: #0d1117;
    color: #c9d1d9;
}

a {
    color: #58a6ff;
}

.navbar, .footer {
    background-color: #0d1117;
    border-color: #30363d;
}

/* Otros estilos */

/* Cambiar el color de fondo de la barra superior a negro puro */
nav .nav-wrapper {
    background-color: #000000 !important;

}

/* Color de las columnas de los post*/
.card-content  {
  background-color: #161b22 !important; /* Azul marino */
  color: #ffffff; /* Color del texto en blanco para contraste */
}

/* Color de Read More debajo de la columnas */
.card-action {
  background-color: #0d1117 !important; /* Azul marino */
  color: #ffffff !important; /* Texto en blanco para contraste */

}

.language-plaintext.highlighter-rouge {
  background-color: #1e1e1e; /* Color oscuro de fondo */
  color: #f1c40f; /* Color de las comillas invertidas */
  border-radius: 5px;
  padding: 0.2em 0.4em;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9em;
}

/* Cambiar el color de fondo del collapsible header */
.collapsible-header {
    background-color: #1f1f1f; /* Un color gris oscuro que combine bien */
    color: #000000; /* Cambia el color del texto a blanco */
}

/* Cambiar el color al pasar el mouse (hover) */
.collapsible-header:hover {
    background-color: #3a3a3a; /* Un gris más claro para el efecto hover */
}

/* Cambiar el color de los iconos dentro del collapsible */
.collapsible-header .material-icons {
    color: #000000; /* Color blanco para los iconos */

}

div.userView {
  background-image: url('/assets/res/bg.png'); /* Cambia la ruta según tu estructura */
  background-size: cover;
  background-position: center;
  height: 160px; /* Ajusta según tus necesidades */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Centra los elementos dentro del contenedor */
}

strong {
  color: #5CCCCC; /* Un tono de cian suave que añade color sin ser muy brillante */
}


