.highlight {
  background: #282c34;
  color: #abb2bf;
}

.highlight .c,
.highlight .cm,
.highlight .c1,
.highlight .cd {
  color: #6272a4;
  font-style: italic;
}

.highlight .err,
.highlight .gr,
.highlight .gd .x,
.highlight .ge,
.highlight .gh,
.highlight .gi .x,
.highlight .go,
.highlight .gp,
.highlight .gs,
.highlight .gu,
.highlight .gt,
.highlight .ow {
  color: #ff5555;
}

.highlight .k,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kt {
  font-weight: bold;
  color: #61afef;
}

.highlight .o {
  font-weight: bold;
  color: #e06c75;
}

.highlight .s,
.highlight .s2,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sx,
.highlight .sr {
  color: #98c379;
}

.highlight .nt,
.highlight .nv,
.highlight .vc,
.highlight .vg,
.highlight .vi {
  color: #d19a66;
}

.highlight .il,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo {
  color: #abb2bf;
}

.highlight .na,
.highlight .nb,
.highlight .nc,
.highlight .no,
.highlight .nn,
.highlight .nf {
  color: #56b6c2;
  font-weight: bold;
}

.highlight .ni {
  color: #b48ead;
}

.highlight .ne {
  color: #d19a66;
  font-weight: bold;
}

.highlight .ss,
.highlight .bp,
.highlight .w {
  color: #abb2bf;
}

.highlight .sr,
.highlight .s1 {
  color: #98c379;
}

.highlight .w {
  color: #abb2bf;
}

.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .s2,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sx,
.highlight .sr,
.highlight .s1 {
  color: #e06c75;
}


